[MASTER]

# Use multiple processes to speed up Pylint.
jobs=4


[REPORTS]

# Naming style matching correct constant names
const-naming-style=snake_case


[DESIGN]

# Maximum number of locals for function / method body
max-locals=20

# Maximum number of statements in function / method body
max-statements=70

# Maximum number of branch for function / method body
max-branches=20



